.chart-container {
  @extend %spaced-nicely;
  float: left;
  width: 260px;

  &.double {
    width: 2 * 260px + 40px;
  }

  h2 {
    font-size: 1.2em;
    line-height: 1.6em;
    min-height: 1.6em * 2;
    padding: 0 4px 10px;
  }

  .toggle-settings {
    float: right;
    border: 0;
    outline: 0;
    background: #fff;
    display: inline-block;
    margin: 4px 10px;
    padding: 4px;
    text-align: center;
    min-width: 6em;

    &:hover {
      background: #ddd;
    }

    &:active {
      background: #bbb;
    }
  }
}

.chart-box {
  height: 305px;
  overflow: auto;

  svg {
    overflow: hidden;
  }
}

@import "stacked";
@import "vertical_lines";
@import "punchchart";
@import "tooltip";