.charts {
  h2 {
    text-align: center;
  }

  small {
    color: #999;
    font-weight: normal;
  }
}

.chart-container {
  @include span(1, 260px, 20px);
  margin-bottom: 30px;

  &.double {
    @include span(2, 260px, 20px);
  }

  header {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    padding: 10px 0 0;
    margin: 0 0 10px;
    background: #fff;
  }

  h2 {
    font-size: 1.2em;
    line-height: 1.6em;
    min-height: 1.6em * 2;
    padding: 0 4px 10px;
  }

  p {
    margin-bottom: 0.8em;
  }

  .toggle-settings {
    float: right;
    border: 0;
    outline: 0;
    background: #fff;
    display: inline-block;
    margin: 4px 10px;
    padding: 4px;
    text-align: center;
    min-width: 6em;

    &:hover {
      background: #ddd;
    }

    &:active {
      background: #bbb;
    }
  }
}

.chart-box {
  height: 305px;
  overflow: auto;

  svg {
    overflow: hidden;
  }
}

@import "stacked";
@import "vertical_lines";
@import "punchchart";
@import "tooltip";