.chart-punchchart {
  shape-rendering: geometricPrecision;

  circle {
    fill: nth($colors, 2);
  }

  .tooltip {
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.3s;
  }

  .dot:hover {
    circle {
      fill: nth($colors, 5);
    }

    .tooltip {
      opacity: 1;
    }
  }

  line {
    stroke: #000;
    stroke-width: 1px;
  }

  .labels-y {
    text {
      text-anchor: end;
    }
  }

  .labels-x {
    text {
      text-anchor: middle;
    }
  }
}