body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

section {
  clear: both;
  overflow: auto;
}

a {
  color: #000;
}

.chart {
  float: left;
  margin: 0 20px 20px;
  width: 260px;

  h2 {
    font-size: 1.2em;
    line-height: 1.6em;
    min-height: 1.6em * 2;
    padding: 0 5px;
  }

  text {
    fill: #fff;
  }
}