* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

section {
  clear: both;
  overflow: auto;
}

a {
  color: #000;
}

%spaced-nicely {
  margin: 0 20px 30px;
}

%spaced-on-the-inside {
  padding: 10px 20px;
  margin: 0 0 30px;
}

.top-bar {
  @extend %spaced-on-the-inside;
  background: #efefef;
}

.box {
  @extend %spaced-on-the-inside;
}

.chart-container {
  @extend %spaced-nicely;
  float: left;
  width: 260px;

  h2 {
    font-size: 1.2em;
    line-height: 1.6em;
    min-height: 1.6em * 2;
    padding: 0 0 10px;
  }
}

.chart-box {
  height: 305px;
  overflow: auto;

  svg {
    overflow: hidden;
  }
}

.chart-stacked {
  text {
    fill: #fff;
  }
}

.chart-vertical-line {
  margin-bottom: 10px;
}

.chart-vertical-label {
  margin-bottom: 5px;
}

.chart-vertical-bar {
  background: #0b84c2;
}