/**
 * # Report Visualizer Stylesheet
 */

$colors: (#042d42, #0b84c2, #075075, #57bef2, #326e8c);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

section {
  clear: both;
  overflow: auto;
}

a {
  color: #000;

  &:hover {
    color: nth($colors, 2);
  }
}

%spaced-nicely {
  margin: 0 20px 30px;
}

%spaced-on-the-inside {
  padding: 10px 20px;
  margin: 0 0 30px;
}

.top-bar {
  @extend %spaced-on-the-inside;
  background: #efefef;

  a {
    display: inline-block;
    margin: 0 10px;
  }

  .right {
    float: right;
    line-height: 1.4 * 1.5em;
  }

  img {
    vertical-align: middle;
  }
}

.box {
  @extend %spaced-on-the-inside;
}

.text-box {
  h2, p {
    margin-bottom: 0.8em;
  }
}

.upload-area {
  padding: 20px;
}

@import "charts/index";
@import "overlay";
